# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
/.idea/
/css/
/doc/
/js/vendor/
/icon.png
/tile.png
/humans.txt
/favicon.ico
/js.iml
/tile-wide.png
/browserconfig.xml
/LICENSE.txt
/.gitattributes
/.htaccess
/.editorconfig
/robots.txt
/404.html
/site.webmanifest
